<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head', {title: "Home"}) %>
<body>

    <%- include('partials/header') %>

    <main>
        <section class="editForm">
            <h1>Editar una nota</h1>
            <form action="" method="post">
                <div>
                    <label for="">Título</label>
                    <input type="text" id="titulo" name="titulo" value="<%= notas.titulo %>">
                </div>
                <div>
                    <label for="message">Mensaje</label>
                    <textarea name="mensaje" id="mensaje" cols="30" rows="10"></textarea>
                    
                </div>
                <button type="submit">Editar</button>
            </form>
        </section>
    </main>

</body>
</html>